<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaosw.permission">

    <application>
        <provider
            android:authorities="com.xiaosw.permission.provider.PermissionInitProvider"
            android:name="com.xiaosw.permission.provider.PermissionInitProvider"
            android:exported="false"/>
    </application>

</manifest>
